<div>
  <% if @user && @user.errors %>
    <h3> Error! Event cannot be created.</h3>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li> <%= message %> </li>
      <% end %>
    </ul>
  <% end %>
<div>